@import url('./../blocks/header/header.css');
@import url('./../blocks/main/main.css');
@import url('./../blocks/main/swiper.css');
@import url('./../blocks/main/container-swiper.css');
@import url('./../blocks/main/technologies.css');
@import url('./../blocks/main/button_popup.css');
@import url('./../blocks/footer/footer.css');
@import url('./../blocks/popup/popup.css');

@keyframes opacity {
    0% {opacity: 1;}
    1% {opacity: 0;}
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: #EEEEEE;
    font-family: "Roboto Condenced", "Arial", "Helvetica", sans-serif;
}

.container {
width: 1272px;
margin: 0 auto;
}

@media screen and (max-width: 1440px) {
    .container {
        width: 1200px;
    }
}
@media screen and (max-width: 1267px) {
    .container {
        width: 930px;
        margin: 0 auto;
        }
}
@media screen and (max-width: 999px) {
    .container {
        width: 700px;
        margin: 0 auto;
        }
}
@media screen and (max-width: 703px) {
    .container {
        width: 600px;
        margin: 0 auto;
        }
}
@media screen and (max-width: 652px) {
    .container {
        width: 500px;
        margin: 0 auto;
        }
}
@media screen and (max-width: 504px) {
    .container {
        width: 400px;
        margin: 0 auto;
        }
}
@media screen and (max-width: 450px) {
    .container {
        width: 320px;
        margin: 0 auto;
        }
}
/* @media screen and (min-width:320px) and (max-width: 360px) {
    .container {
        width: 200px;
        margin: 0 auto;
        }
} */








