.main-bg {
    background: url('./../../images/mainbg.svg') center no-repeat;
    width: 100%;
    height:1507px;
    background-size: contain;
}

.img-main {
    width:100%;
    height: auto;
    
}

.img360 {
    display: none;
}

.riktangle {
    position: relative;
    overflow: hidden;
    -webkit-clip-path: polygon(36.5% 0%, 100% 26%, 229% 23%, 57% 99.5%, -1% 80.5%, 0% 26%);
    clip-path: polygon(36.5% 0%, 100% 26%, 229% 23%, 57% 99.5%, -1% 80.5%, 0% 26%)
}

.riktangle414 {
    display: none;
}

.words {
    width: 73.9%;
    height: auto;
    position: absolute;
    top: 46.5%;
    left: 49.9%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 414px) {
    .riktangle {
        display: none;
    }
    .riktangle414 {
        display: initial;
    }
    
    .img-main414 {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 360px) {
    .img360 {
        display: initial;
    }
    .img-main {
        display: none;
    }
    .riktangle414 {
        display: none;
    }
}

