.header {
position: relative;

}
.header__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 759px;
}
.header__content1024 {
    display: none;
}
.header__content414 {
    display: none;
}
.header__content360 {
    display: none;
}

.berries {
    position: absolute;
    width: 100%;
}
.img-logo {
    width:100%;
    height: auto;
}
.header__container {
    max-width: 833px;
    margin: 0   auto;
    height: auto;
    align-self: flex-end;
    z-index: 20;
}
.p1{
    top: -42px;
    left: -44px;
   z-index: 7;
    width: 104%;
}
.p2{
    top: -75px;
    width: 105.3%;
    right: -64px;
    z-index: 7;
 }
.p3 {
    animation: opacity 3s forwards;
    z-index: 4;
    top: -109px;
    width: 97.3%;
    right: 68px;
}
.p4 {
    z-index: 3;
    top: -105px;
    width: 97%;
    right: 69px;
}
.p5{
    top: 137px;
    left: 302px;
    width: 84%
}
.p6 {
    z-index: 2;
    top: 29px;
    left: -72px;
    width: 108%;
}
.p7{
    top: -56px;
    left: 2px;
    width: 95%;
    z-index: 6;
}

.p8{
    top: 306px;
    width: 65%;
    left: 361px;
}

@media screen and (max-width: 1440px) {
    .header__container {
        margin-bottom: 13px;
    }
    .header__content {
        height: 571px;  
    }
    .header__container {
        max-width: 625px;
        max-height: 427px;
    }
    .p1{
        top: -28px;
        left: -56px;
        z-index: 7;
        width: 107%;
    }
    .p2{
        top: -72px;
        width: 106.3%;
        right: -55px;
        z-index: 7;
     }
    .p3 {
        animation: opacity 3s forwards;
        z-index: 4;
        top: -72px;
        width: 97.3%;
        right: 78px;
    }
    .p4 {
        z-index: 3;
        top:-70px;
        width:97%;
        right:80px;
    }
    .p5{
        top: 121px;
        left: 240px;
        width: 84%;
    }
    .p6 {
        z-index: 2;
        top: 29px;
        left: -72px;
        width: 112%;
    }
    .p7{
        top: -39px;
        left: 2px;
        width: 95%;
        z-index: 6;
    }
    .p8{
        top: 306px;
        width: 65%;
        left: 361px;
    }
}

@media screen and (max-width:1208px) {
    .header__content {
        height: 412px;
        display: none;  
    }
    .header__container {
        max-width: 443px;
        max-height: 304px;
        margin-bottom: 15px;
    }
    .header__content1024 {
        height: 412px;
        display: flex;
        align-items: flex-end;
    }
    .berries-notblur {
        width: 106%;
        top: -20px;
        left: -35px;
        z-index: 4;
    }
    .vegatables {
        width: 108%;
        top: 8px;
        left: -37px;
        z-index: 1;
    }
    .blueberry {
        width: 85%;
        top: 70px;
        left: 155px;
    }
    .blueberry-bugblur {
        width: 106%;
        top: -43px;
        left: -33px;
        z-index: 7;
    }
    .leaves {
        width: 90%;
        top: -26px;
        left: 7px;
        z-index: 3;
    }
    .leaves-blur {
        width: 62%;
        top: 142px;
        left: 203px;
    }
    .tomato {
        width: 94%;
        top: -28px;
        left: -12px;
        z-index: 5;
    }
    .tomato-freez {
        width: 94%;
        top: -31px;
        left: -14px;
        animation: opacity 3s forwards;
        z-index: 6;
    }
}

@media screen and (max-width: 803px) {
    .header__content1024 {
        height:300px;  
    }
    
    .header__container {
        max-width: 353px;
    }
}

@media screen and (max-width: 663px) {
    .blueberry {
        width: 85%;
        top: 46px;
        left: 84px;
    }
    .leaves-blur {
        width: 62%;
        top: 81px;
        left: 113px;
    }
}

@media screen and (max-width: 626px) {
    .header__content1024 {
        height:250px;  
    }
    .header__container {
        max-width: 300px;
    } 
}

@media screen and (max-width: 557px) {
    .header__content1024 {
        height:250px;  
    }
    .header__container {
        max-width: 241px;
    }
    .blueberry-bugblur {
        width: 110%;
        top: -21px;
        left: -35px;
        z-index: 7;
    }
    .img-logo414 {
        width: 100%;
        height:auto;
        object-fit: cover;
    }
}

@media screen and (max-width: 414px) {
    .logo-title414 {
        font-size: 10.777px;
        line-height: 130%;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        font-weight: 500;
        color: black;
        margin:0;
    }

    .logo-title414 span {
        font-weight: bold;
        color: green;
    }
    .header__content1024 {
        display: none;
    }
    .header__content414 {
        display: flex;
        align-items: flex-end;
        height:220px;
    }
    .header__container {
        max-width: 241px;
        margin-bottom: 4px;
    }
    .vegatables {
        width: 29%;
        top: 5px;
        left: -63px;
    }
    .raspberries {
        width: 108%;
        top: 141px;
        left: -10px;
    }
    .blueberry {
        width: 118%;
        top: 40px;
        left: -7px;
    }
    .leaves {
        width: 85%;
        top: -16px;
        left: 46px;
    }
    .leaves-blur {
        width: 91%;
        top: 109px;
        left: 46px;
    }
    .tomato {
        width: 112%;
        top: -27px;
        left: 5px;
    }
    .tomato-freez {
        width: 112%;
        top: -27px;
        left: 5px;
        animation: opacity 3s forwards;
    }
    .bigblur{
        width: 68px;
        height: 68px;
        top: 243px;
        left: 305px;
        z-index: 1;
    }
}

@media screen and (max-width: 360px) {
    .header__content414 {
        display: none;
    }
    .img-logo360 {
        width: 100%;
        height:auto;
        object-fit: cover;
    }
    .header__content {
        height:223px;
        display: none;
    }
    .header__container {
        max-width: 241px;
        margin-bottom: 4px;
    }
    .header__content360 {
        display: initial;
        height:223px;
        display: flex;
        align-items: flex-end;
    }
    .raspberries {
        top: 123px;
        left: -14px;
        width: 105%;
        z-index: 1;
    }
    .vegatables {
        width: 29%;
        left: -61px;
        top: 5px;
        z-index: 1;
    }
    .berries-blur {
        top: 41px;
        left: -20px;
        width: 122%;
    }
    .leaves {
        top: -15px;
        left: 39px;
        width: 82%;
    }
    .leaves-blur{
        top: 94px;
        left: 34px;
        width: 89%;
    }
    .tomato {
        top: -22px;
        left: -2px;
        width: 108%;
        z-index: 1;
    }
    .tomato-freez {
        top: -20px;
        left: -2.8px;
        width: 108%;
        animation: opacity 3s forwards;
        z-index: 2;
    }
    .berroes-bigblur {
        width: 111%;
        top: 243px;
        left: -60px;
        z-index: 2; 
    }
}