.header {
position: relative;

}
.header__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 759px;
}

.end {
    visibility: hidden;
}

.berries {
    position: absolute;
    width: 100%;
}
.img-logo {
    width:100%;
    height: auto;
}
.header__container {
    max-width: 833px;
    margin: 0   auto;
    height: auto;
    align-self: flex-end;
    z-index: 20;
}
.p1{
    top: -42px;
    left: -44px;
   z-index: 7;
    width: 104%;
}
.p2{
    top: -75px;
    width: 105.3%;
    right: -64px;
    z-index: 7;
 }
.p3 {
    animation: opacity 6s forwards;
    z-index: 4;
    top: -109px;
    width: 97.3%;
    right: 68px;
}
.p4 {
    z-index: 3;
    top: -105px;
    width: 97%;
    right: 69px;
}
.p5{
    top: 137px;
    left: 302px;
    width: 84%
}
.p6 {
    z-index: 2;
    top: 29px;
    left: -72px;
    width: 108%;
}
.p7{
    top: -56px;
    left: 2px;
    width: 95%;
  z-index: 6;
}

.p8{
    top: 306px;
    width: 65%;
    left: 361px;
}

.header__logo {
    background: url('../../images/logo.svg') center no-repeat;
    width: 833px;
    height: 569px;
    margin-top:150px;
    z-index: 10;
}

@media screen and (max-width: 1440px) {
    .header__container {
        margin-bottom: 13px;
    }
    
    .header__content {
        height: 571px;  
    }
    .header__logo{
        background: url('../../images/logo1440.svg') center no-repeat;
        height: 427px;
        margin-bottom: 13px;
        margin-top:100px;
    }
    .header__container {
        max-width: 625px;
        max-height: 427px;
    }
    .p1{
        top: -28px;
        left: -56px;
        z-index: 7;
        width: 107%;
    }
    .p2{
        top: -72px;
        width: 106.3%;
        right: -55px;
        z-index: 5;
     }
    .p3 {
        animation: opacity 6s forwards;
        z-index: 4;
        top: -72px;
        width: 97.3%;
        right: 78px;
    }
    .p4 {
        z-index: 3;
        top:-70px;
        width:97%;
        right:80px;
    }
    .p5{
        top: 121px;
        left: 240px;
        width: 84%;
    }
    .p6 {
        z-index: 2;
        top: 29px;
        left: -72px;
        width: 112%;
    }
    .p7{
        top: -39px;
        left: 2px;
        width: 95%;
        z-index: 6;
    }
    
    .p8{
        top: 306px;
        width: 65%;
        left: 361px;
    }

}

@media screen and (max-width: 1208px) {
    .p1{
        top: -24px;
        left: -30px;
        z-index: 7;
        width: 105%;
    }
    .p2{
        top: -45px;
        width: 106.3%;
        right: -44px;
        z-index: 5;
     }
    .p3 {
        animation: opacity 6s forwards;
        z-index: 4;
        top: -33px;
        width: 95.3%;
        right: 67px;
    }
    .p4 {
        z-index: 3;
        top: -31px;
        width: 95%;
        right: 68px;
    }
    .p5{
        top: 90px;
        left: 135px;
        width: 86%;
    }
    .p6 {
        z-index: 2;
        top: 29px;
        left: -72px;
        width: 112%;
    }
    .p7{
        top: -39px;
        left: 2px;
        width: 95%;
        z-index: 6;
    }
    
    .p8{
        top: 306px;
        width: 65%;
        left: 361px;
    }
    .header__content {
        height: 412px;  
    }
    .header__logo{
        background: url('../../images/logo1024.svg') center no-repeat;
        height: 304px;
        margin-bottom: 15px;
        margin-top:50px;
    }
    .header__container {
        max-width: 443px;
        max-height: 304px;
    }
}
@media screen and (max-width: 803px) {
    .header__content {
        height:300px;  
    }
    .header__logo{
        background: url('../../images/header-logo803.svg') center no-repeat;
        height: 261px;
        margin-bottom: 15px;
    }
    .header__container {
        max-width: 353px;
    }
}

@media screen and (max-width: 626px) {
    .header__content {
        height:250px;  
    }
    .header__container {
        max-width: 300px;
    }
}

@media screen and (max-width: 557px) {
    .header__logo{
        background: url('../../images/logo339.svg') center no-repeat; 
        height: 233px; 
        margin-bottom:0;
    }
    .header__content {
        height:250px;  
    }
    .header__container {
        max-width: 241px;
    }
}



@media screen and (max-width: 414px) {
    .header__content {
        height:223px;  
    }
    .header__logo{
        background: url('../../images/logo360.svg') center no-repeat;
        height: 164px; 
    }    
    .header__container {
        max-width: 241px;
    }
    .p1{
        top: -3px;
        left: -104px;
        z-index: 7;
        width: 158%;
    }
    .p2{
        top: 6px;
        width: 141.3%;
        right: -86px;
        z-index: 5;
     }
    .p3 {
        animation: opacity 6s forwards;
        z-index: 4;
        top: -17px;
        width: 133.3%;
        right: -30px;
    }
    .p4 {
        z-index: 3;
        top: -17px;
        width: 133.3%;
        right: -30px;
    }
    .p5{
        top: 47px;
        left: -3px;
        width: 129%;
    }
    .p6 {
        z-index: 2;
        top: 10px;
        left: -102px;
        width: 165%;
    }
    .p7{
        top: -15px;
        left: -87px;
        width: 142%;
        z-index: 6;
    }
    .p8{
        top: 85px;
        width: 90%;
        left: 31px;
    }
}