.footer {
    background: #005C00;
}
.container-footer {
    max-width: calc(100% - 250px *2);
    margin: 0 auto;
}

.footer__content {
    min-height: 155px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.logo__footer {
    background: url('./../../images/logo-footer.svg') center no-repeat;
    width:142px;
    height: 97px;
}

.footer__lists {
    list-style: none;
    padding: 30px 0 30px 0;
    margin: 0;
    display: flex;    
    flex-direction: column;
    text-align: end;
    color:white;
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
}
.footer__list br {
    display: none;
}

.footer__list:last-of-type {
    margin-right: 0;
}

.footer__link {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}

.brekpoint {
    background: url('./../../images/ellipse.svg');
    width:6px;
    height: 6px;
}

.tp {
    margin-bottom:7px;
}

@media screen and (max-width:1440px) {
    .container-footer {
        max-width: calc(100% - 135px *2);    
    }
}
@media screen and (max-width:1024px) {
    .container-footer {
        max-width: calc(100% - 27px *2);
    }
    .footer__content {
        min-height: 120px;
    }
    .logo__footer {
        background: url('./../../images/logo-footer1024.svg') center no-repeat;
        width:90px;
        height: 60px;
    }    
    .footer__lists {
        padding: 25px 0 25px 0;
        font-size: 12px;
    }
    .tp {
        margin-bottom:5px;
    }
    
}
@media screen and (max-width:501px) {
    .footer__content {
        min-height: 270px;
        display: flex;
       flex-direction: column-reverse;
       align-items: center;
       justify-content: center;
    }
    .footer__lists {
        padding: 20px 0 20px 0;
        font-size: 12px;
        text-align: center;
        width:190px;
    }
    .footer__list br {
        display: initial;
    }
    
}
@media screen and (max-width:360px) {
    .footer__list:last-of-type {
        margin-right: 0;
    }
    .brekpoint {
        width:3px;
        height: 3px;
    }
    .footer__link {
        color: white;
        text-decoration: none;
        font-size: 12px;
    }    
}
